<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="Tenacom preview" value="https://www.myget.org/F/tenacom-preview/api/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="Tenacom preview">
      <package pattern="*" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
