name: Set labels on PR
on:
  pull_request_target:
    types: [ opened, synchronize, reopened ]

jobs:

  set_labels:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Assign labels to pull request
        uses: actions/labeler@v6
        with:
          repo-token: "${{ secrets.GITHUB_TOKEN }}"
